@model BlackJackProject.Models.BlackJack

@{
    ViewData["Title"] = "Table";
}

@*Draw the playing field*@
@*Draw the blackjack table*@
<img src="~/images/blackjack_table.png" class="center-block" />

@*TODO: Draw the pokerchip buttons*@

@*Draw the amount the player has in the bank*@
<label class="balance"> Amount left in bank: @Model.Player.Balance </label>

@*Betting form*@
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @*Draw the textbox for betting amount*@
    <input name="bet" type="text" class="bet" />

    @*Draw the button to submit the amount*@
    <button class="add" type="submit">Add to bet!</button>
}

@*Draw the amount on the table*@
<label class="pot"> Amount on table: @Model.Pot </label>
@*Draw the holder for the errors*@
<label class="errors">@ViewData["error"]</label>


@*Play button*@
@using (Html.BeginForm("Play", "Home", FormMethod.Post))
{
    <input type="checkbox" name="started" checked="checked" hidden>
    <input type="hidden" name="pot" value="@Model.Pot">
    //Draw the game start button
    <button class="btn_start" type="submit">Deal Cards!</button>
}

<img src="~/images/100_chip.png" width="50" height="50" class="chip_100"/>
<img src="~/images/25_chip.png" width="50" height="50" class="chip_25"/>
<img src="~/images/10_chip.png" width="50" height="50" class="chip_10"/>
<img src="~/images/5_chip.png" width="50" height="50" class="chip_5"/>