/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: cadetblue;
}

.balance{
    position: absolute;
    left: 200px;
    top: 280px;
    color: floralwhite;
}

.bet {
    position: absolute;
    left: 200px;
    top: 300px;
}

.pot {
    position: absolute;
    left: 200px;
    top: 325px;
    color: floralwhite;
}

.errors {
    position: absolute;
    left: 200px;
    top: 350px;
    color: indianred;
}

.btn_start{
    position:absolute;
    left: 700px;
    top: 400px;
}

.dealer_card0{
    position:absolute;
    left: 600px;
    top: 100px;
}
.dealer_card1 {
    position: absolute;
    left: 700px;
    top: 100px;
}
.dealer_card2 {
    position: absolute;
    left: 800px;
    top: 100px;
}
.dealer_card3 {
    position: absolute;
    left: 900px;
    top: 100px;
}


.player_card0{
    position: absolute;
    left: 600px;
    top: 500px;
}
.player_card1 {
    position: absolute;
    left: 700px;
    top: 500px;
}
.player_card2 {
    position: absolute;
    left: 800px;
    top: 500px;
}
.player_card3 {
    position: absolute;
    left: 900px;
    top: 500px;
}

.dealer_value {
    position: absolute;
    left: 900px;
    top: 325px;
    color: floralwhite;
    padding: 5px;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px 5px;
}
.player_value {
    position: absolute;
    left: 900px;
    top: 375px;
    color: floralwhite;
    padding: 5px;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px 5px;
}

.add {
    position: absolute;
    left: 390px;
    top: 300px;
}

.btn_hit{
    position:absolute;
    left: 500px;
    top: 400px;
}

.btn_stand {
    position: absolute;
    left: 550px;
    top: 400px;
}

.chip_100{
    position: absolute;
    left: 250px;
    top: 430px;
}

.chip_25 {
    position: absolute;
    left: 300px;
    top: 460px;
}

.chip_10 {
    position: absolute;
    left: 350px;
    top: 490px;
}

.chip_5 {
    position: absolute;
    left: 400px;
    top: 520px;
}