/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.balance{
    position: absolute;
    left: 200px;
    top: 280px;
    color: floralwhite;
}

.bet {
    position: absolute;
    left: 200px;
    top: 300px;
}

.pot {
    position: absolute;
    left: 200px;
    top: 325px;
    color: floralwhite;
}

.errors {
    position: absolute;
    left: 200px;
    top: 350px;
    color: indianred;
}

.btn_start{
    position:absolute;
    left: 700px;
    top: 400px;
}

.dealer_card0{
    position:absolute;
    left: 600px;
    top: 100px;
}
.dealer_card1 {
    position: absolute;
    left: 700px;
    top: 100px;
}

.add {
    position: absolute;
    left: 390px;
    top: 300px;
}